<div class="row">
    <div class="col-md-6">

        <div class="pt-5 mt-5">
            <p class="hosting ps-4 ms-4 pt-2">Number 1 Technical <br> Support in Indonesia</p>
        </div>
        <div>
            <p class="ps-5 ms-4 pt-3">Contact Niagohoster's Customer Success Agent at any time when there is
                <br> a problem with your website. No need to wait long, your problem will be
                <br> resolved quickly and in real-time via intercom's live-chat.
            </p>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg package">Read More</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pt-5 mt-5">
            <a>
                <img class="ps-5 ms-5 pt-5" src="../assets/Image/Network1.png" style="height: 350px; width: 600px;"
                    alt="Network">
            </a>
        </div>
    </div>
</div>