<div class="row pt-5 mt-5 mb-5">
    <div class="col-md-3 pt-5 mt-5 pb-5 mb-5">
        <a class="navbar-brand pe-5 ps-5 pb-5" href="#">
            <img src="../assets/Image/Network Logo.png" style="width: 125px;" alt="logo">
        </a>
        <p class="ps-5 pt-3 fw-lighter med">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. Autem <br> consequatur eius, molestias.
        </p>
    </div>
    <div class="col-md-6 d-flex ps-5 mt-5 pt-5 pb-5">
        <div>
            <h4 class="ps-5">Menu</h4>
            <ul class="ps-5 med" style="list-style: none;">
                <li class="pt-3">Name</li>
                <li class="pt-3">Covid19</li>
                <li class="pt-3">Vaccine info</li>
                <li class="pt-3">Contact us</li>
            </ul>
        </div>
        <div>
            <h4 class="ps-5 ms-5">Links</h4>
            <ul class=" ps-5 ms-5 med" style="list-style: none;">
                <li class="pt-3">Partners</li>
                <li class="pt-3">Careers</li>
                <li class="pt-3">Press</li>
                <li class="pt-3">Community</li>
            </ul>
        </div>

        <div>
            <h4 class="ps-5 ms-5 ms-3">Overview</h4>
            <ul class=" ps-5 ms-5 med" style="list-style: none;">
                <li class="pt-3">Terms & Conditions</li>
                <li class="pt-3">Privacy Policy</li>
                <li class="pt-3">FAQ</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 mt-5 pt-5 pb-5">
        <h4>Social Media</h4>
        <div class="pt-2">
            <i class="fa-brands fa-facebook fs-3 pe-3 icon"></i>
            <i class="fa-brands fa-instagram fs-3 pe-3 icon"></i>
            <i class="fa-brands fa-youtube fs-3 pe-3 icon"></i>
            <i class="fa-brands fa-linkedin fs-3 pe-3 icon"></i>
        </div>
    </div>
</div>
