<div class="row">
    <div class="col-md-6">
        <div class="pt-5 mt-5">
            <a>
                <img class="pe-5 me-5 pt-5" src="../assets/Image/Network1.png" style="height: 500px; width: 800px;"
                    alt="Network">
            </a>
        </div>
    </div>
    <div class="col-md-6">

        <div class="pt-5 mt-5">
            <p class="hosting ms-5">We Provide The Best <br> Quality With Low Cost</p>
        </div>
        <div>
            <p class="ps-4 ms-4 pt-3">You can have a ready-made website for only a small fee.
                <br> Complete features will facilitate the website creation
                <br> process, from Auto-install WordPress, cPanel, to free SSL.
            </p>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg package ms-5">Read More</button>
        </div>
    </div>
</div>

