<div class="row">
    <div class="col-md-6">
        <div>
            <p class="hosting ps-3 ms-5 pt-5 fs-1">Great Websites Starts <br> With Unlimited Hosting</p>
        </div>
        <div>
            <p class="ps-5 ms-4 pt-3">We provide the best offer of unlimited web hosting. The <br> most complete
                features, affordable price, and 24/7 <br> technical support are at your disposal.</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg package">Choose Package</button>
        </div>
    </div>
    <div class="col-md-6">
        <a>
            <img class="ps-5 pt-5 pb-5" src="../assets/Image/Network1.png" style="height: 480px; width: 650px;"
                alt="Network">
        </a>
    </div>
</div>
