.package {
    background: linear-gradient( #4ab4fd , #1181ee );
    box-shadow: 0 5px 10px rgb(74 181 253 / 55%);
    border-radius: 10px;
    padding: .4rem 1rem;
    margin: 10px 10px 100px 70px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.hosting {
    font-size: 3rem;
    font-weight: 700;

}