<!-- Header  -->

<nav class="navbar navbar-expand-lg navbar-light white">
    <div class="container-fluid">
        <a class="navbar-brand pe-5 ps-5 pb-5" href="#">
            <img src="../assets/Image/Network Logo.png" style="width: 125px;" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 pt-4">

                <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Domain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Hosting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About Us</a>
          </li> -->
            </ul>
            <form class="d-flex pe-5 pb-4">
                <li class="navbar-nav">
                    <a class="nav-link active pe-5 pt-5">Home</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active pe-5 pt-5">Domain</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active pe-5 pt-5">Hosting</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active pe-5 pt-5">Features</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active pe-5 pt-5" href="#">Pricing</a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link active pe-5 pt-5" href="#">About Us</a>
                </li>
                <li class="nav" href="#">
                    <a class=" nav-link register fs-6 px-5 my-5" href="#cta"> Register Now</a>
                </li>
            </form>
        </div>
    </div>
</nav>

<!-- Websites Starts -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div>
                <p class="website ps-4 ms-4 pt-5">Great Websites Starts <br> With Unlimited Hosting</p>
            </div>
            <div>
                <p class="ps-4 ms-4 pt-3">We provide the best offer of unlimited web hosting. The <br> most complete
                    features, affordable price, and 24/7 <br> technical support are at your disposal.</p>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg cp">Choose Package</button>
            </div>
        </div>
        <div class="col-md-6">
            <a>
                <img class="ps-5 pt-5 pb-5" src="../assets/Image/Network1.png" style="height: 480px; width: 650px;"
                    alt="Network">
            </a>
        </div>
    </div>

    <!-- Best Quality -->

    <div class="row">
        <div class="col-md-6">
            <div class="pt-5 mt-5">
                <a>
                    <img class="pe-5 me-5 pt-5" src="../assets/Image/Network1.png" style="height: 500px; width: 800px;"
                        alt="Network">
                </a>
            </div>
        </div>
        <div class="col-md-6">

            <div class="pt-5 mt-5">
                <p class="website ms-5">We Provide The Best <br> Quality With Low Cost</p>
            </div>
            <div>
                <p class="ps-4 ms-4 pt-3">You can have a ready-made website for only a small fee.
                    <br> Complete features will facilitate the website creation
                    <br> process, from Auto-install WordPress, cPanel, to free SSL.
                </p>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg cp ms-5">Read More</button>
            </div>
        </div>
    </div>

    <!-- Technical  Support -->

    <div class="row">
        <div class="col-md-6">

            <div class="pt-5 mt-5">
                <p class="website ps-4 ms-4 pt-2">Number 1 Technical <br> Support in Indonesia</p>
            </div>
            <div>
                <p class="ps-5 ms-4 pt-3">Contact Niagohoster's Customer Success Agent at any time when there is
                    <br> a problem with your website. No need to wait long, your problem will be
                    <br> resolved quickly and in real-time via intercom's live-chat.
                </p>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg cp">Read More</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pt-5 mt-5">
                <a>
                    <img class="ps-5 ms-5 pt-5" src="../assets/Image/Network1.png" style="height: 350px; width: 600px;"
                        alt="Network">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="pt-5 mt-3">
                <p class="website ms-5">Services We Provide <br> At Thor Hosting</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="pt-5 mt-5">
                <p>Contact Niagahoster's Customer Success Agentat anytime whenthere is a
                    <br> problem withyour website. No needto wait lon, your problem will be
                    <br> resolved quickly.
                </p>
            </div>
        </div>
    </div>

    <!-- Service Provider -->

    <div class="row ps-5 pt-5 mt-5">
        <div class="col-md-4">
            <div class="ms-3 mb-3">
                <img src="../assets/Image/services1.png">
            </div>
            <div class="ms-3 mb-4">
                <h3>Unlimited Hosting</h3>
            </div>
            <div class="ms-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipisicing elit. Nostrum dolore omnis <br>
                    incidunt nesciunt quam laudantium porro <br>
                    eum iure soluta provident!
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ms-3 mb-3">
                <img src="../assets/Image/services1.png">
            </div>
            <div class="ms-3 mb-4">
                <h3>Cloud Hosting</h3>
            </div>
            <div class="ms-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipisicing elit. Nostrum dolore omnis <br>
                    incidunt nesciunt quam laudantium porro <br>
                    eum iure soluta provident!
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ms-3 mb-3">
                <img src="../assets/Image/services1.png">
            </div>
            <div class="ms-3 mb-4">
                <h3>WordPress Hosting</h3>
            </div>
            <div class="ms-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipisicing elit. Nostrum dolore omnis <br>
                    incidunt nesciunt quam laudantium porro <br>
                    eum iure soluta provident!
                </p>
            </div>
        </div>

    </div>
    <div class="row ps-5  pt-5 mt-5">
        <div class="col-md-4 mb-5">
            <div class="ms-3 mb-4">
                <img src="../assets/Image/services1.png">
            </div>
            <div class="ms-3 mb-4">
                <h3>Fastest VPS</h3>
            </div>
            <div class="ms-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipisicing elit. Nostrum dolore omnis <br>
                    incidunt nesciunt quam laudantium porro <br>
                    eum iure soluta provident!
                </p>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="ms-3 mb-4">
                <img src="../assets/Image/services1.png">
            </div>
            <div class="ms-3 mb-4">
                <h3>Domain</h3>
            </div>
            <div class="ms-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipisicing elit. Nostrum dolore omnis <br>
                    incidunt nesciunt quam laudantium porro <br>
                    eum iure soluta provident!
                </p>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="ms-3 mb-4">
                <img src="../assets/Image/services1.png">
            </div>
            <div class="ms-3 mb-4">
                <h4>Website Builder</h4>
            </div>
            <div class="ms-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur <br>
                    adipisicing elit. Nostrum dolore omnis <br>
                    incidunt nesciunt quam laudantium porro <br>
                    eum iure soluta provident!
                </p>
            </div>
        </div>

    </div>

    <!-- Server Price  -->

    <div class="row bg-primary mt-5">
        <h2 class="text-center text-white mt-5 pt-5">Flexible & Transparent Pricing</h2>
        <div class="col-md-4">
            <div class="card ms-3 my-5" style="height: 600px; width: 400px;">
                <div class="card-body">
                    <h3 class="card-title ms-4">Starter Pack</h3>
                    <p class="card-text ms-4 mt-4">Suitable for buginners</p>
                    <div class="ms-5 mt-5">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Up To 15,000 Visitors/Month
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Disk Space 500MB
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Bandwidth
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Database
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>1 Domain
                    </div>
                    <div class="mt-5">
                        <h4 class="text-center d-flex ms-5 ps-5">$29.99 <p class="fw-normal text-center">/month </p>
                        </h4>
                    </div>
                    <div>
                        <p class="text-center">Cancel Anytime</p>
                    </div>
                    <div class="mt-5 text-center">
                        <a class="register fs-6 px-5" href="#cta"> Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card ms-3 my-5" style="height: 600px; width: 400px;">
                <div class="card-body">
                    <div class="pp">
                        <h3 class="card-title ms-4">Popular Packages</h3>
                        <p class="card-text ms-4 mt-4">Suitable for company, organization</p>
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Up To 135,000 Visitors/Month
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Disk Space
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Bandwidth
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited POP3 Email
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Database
                    </div>
                    <div class="mt-5">
                        <h4 class="text-center d-flex ms-5 ps-5 ">$59.99 <p class="fw-normal text-center">/month
                            </p>
                        </h4>
                    </div>
                    <div class="">
                        <p class="text-center">Cancel Anytime</p>
                    </div>
                    <div class="mx-5 mb-3">
                        <button type="button" class="btn btn-primary btn-lg cp ms-5 px-4">Choose Plan</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card ms-3 my-5" style="height: 600px; width: 400px;">
                <div class="card-body">
                    <h3 class="card-title ms-4">Business Package</h3>
                    <p class="card-text ms-4 mt-4">Suitable for business websites</p>
                    <div class="ms-5 mt-5">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Up To 15,000 Visitors/Month
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Disk Space
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Bandwidth
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited POP3 Email
                    </div>
                    <div class="ms-5 mt-4">
                        <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Database
                    </div>
                    <div class="mt-5">
                        <h4 class="text-center d-flex ms-5 ps-5">$99.99<p class="fw-normal text-center">/month </p>
                        </h4>
                    </div>
                    <div>
                        <p class="text-center">Cancel Anytime</p>
                    </div>
                    <div class="mt-5 text-center">
                        <a class="register fs-6 px-5" href="#cta"> Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer care Services -->

    <div class="row pt-5 mt-5 pb-5 mb-5">
        <h1 class="text-center pt-5">Our Customer Love US</h1>
        <p class="text-center pt-2 pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, ex iusto.
            Harum
            dignissimos, mollitia atque
            <br>voluptatibus perspiciatis molestias.
        </p>

        <div class="col-md-6">
            <div class="ps-5 pb-5">
                <div class="card" style="height: 280px;">
                    <div class="card-body">
                        <p class="card-text fs-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Nesciunt,
                            nemo
                            <br> dolorem eius ea autem temporibus vitae accusantium porro laudantium <br>
                            incidunt blanditiis omnis. Iusto rem quisquam eos quis non minima porro <br>
                            harum, excepturi tenetur, dolorum incidunt repellendus accusamus
                            <br>consectetur.
                        </p>
                    </div>
                    <div class="d-flex mt-5">
                        <img src="../assets/Image/wb.jpg" class="rounded-circle ms-3" style="height: 50px;" alt="Apple">
                        <div class="ps-4 mb-5 pb-5">
                            <h6>Michael Andrew</h6>
                            <p>CEO Apple Inc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ps-5 pe-3">
                <div class="card" style="height: 280px;">
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                            nemo
                            <br> dolorem eius ea autem temporibus vitae accusantium porro laudantium <br>
                            incidunt blanditiis omnis. Iusto rem quisquam eos quis non minima porro <br>
                            harum, excepturi tenetur, dolorum incidunt repellendus accusamus
                            <br>consectetur.
                        </p>
                    </div>
                    <div class="d-flex mt-5">
                        <img src="../assets/Image/wb.jpg" class="rounded-circle ms-3" style="height: 50px;" alt="Apple">
                        <div class="ps-4 mb-5 pb-5">
                            <h6>Michael Andrew</h6>
                            <p>CEO Apple Inc.</p>
                        </div>
                    </div>
                    <div>
                        <img src="..//assets/Image/wb.jpg" class="rounded-circle" alt="alt">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ps-5">
                <div class="card" style="height: 280px;">
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                            nemo
                            <br> dolorem eius ea autem temporibus vitae accusantium porro laudantium <br>
                            incidunt blanditiis omnis. Iusto rem quisquam eos quis non minima porro <br>
                            harum, excepturi tenetur, dolorum incidunt repellendus accusamus
                            <br>consectetur.
                        </p>
                    </div>
                    <div class="d-flex mt-5">
                        <img src="../assets/Image/wb.jpg" class="rounded-circle ms-3" style="height: 50px;" alt="Apple">
                        <div class="ps-4 mb-5 pb-5">
                            <h6>Michael Andrew</h6>
                            <p>CEO Apple Inc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ps-5">
                <div class="card" style="height: 280px;">
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                            nemo
                            <br> dolorem eius ea autem temporibus vitae accusantium porro laudantium <br>
                            incidunt blanditiis omnis. Iusto rem quisquam eos quis non minima porro <br>
                            harum, excepturi tenetur, dolorum incidunt repellendus accusamus
                            <br>consectetur.
                        </p>
                    </div>
                    <div class="d-flex mt-5">
                        <img src="../assets/Image/wb.jpg" class="rounded-circle ms-3" style="height: 50px;" alt="Apple">
                        <div class="ps-4 mb-5 pb-5">
                            <h6>Michael Andrew</h6>
                            <p>CEO Apple Inc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-primary mb-5 mt-5 mb-5 pb-5 d-flex " style="height: 350px;">
        <div class="col-md-8 text-white">
            <div>
                <h1 class="fw-bold ms-5 ps-5 pt-5 mt-5">Quit Worrying About <br> Oce-Hosting Services
                </h1>
                <p class="ms-5 ps-5 mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                    illum
                    <br> incidunt sint harum! Dolor, culpa.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ms-5 ps-5 mt-5 pt-5">
                <button type="button" class="btn btn-outline text-white border-white fw-bold mt-5 px-4 py-3">Register
                    Now</button>
            </div>
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col-md-3">
            <a class="navbar-brand pe-5 ps-5 pb-5" href="#">
                <img src="../assets/Image/Network Logo.png" style="width: 125px;" alt="logo">
            </a>
            <p class="ps-5 pt-3 fw-lighter">
                Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. Autem <br> consequatur eius, molestias.
            </p>
        </div>
        <div class="col-md-6 d-flex ps-5">
            <div>
                <h5 class="ps-5 ms-5">Menu</h5>
                <ul class="fw-lighter ps-5 ms-5" style="list-style: none;">
                    <li class="pt-3">Name</li>
                    <li class="pt-3">Covid19</li>
                    <li class="pt-3">Vaccine info</li>
                    <li class="pt-3">Contact us</li>
                </ul>
            </div>
            <div>
                <h5 class="ps-5 ms-5">Links</h5>
                <ul class="fw-lighter ps-5 ms-5" style="list-style: none;">
                    <li class="pt-3">Partners</li>
                    <li class="pt-3">Careers</li>
                    <li class="pt-3">Press</li>
                    <li class="pt-3">Community</li>
                </ul>
            </div>

            <div>
                <h5 class="ps-5 ms-5">Overview</h5>
                <ul class="fw-lighter ps-5 ms-5" style="list-style: none;">
                    <li class="pt-3">Terms & Conditions</li>
                    <li class="pt-3">Privacy Policy</li>
                    <li class="pt-3">FAQ</li>
                </ul>
            </div>
        </div>
       <div class="col-md-3">
       <h5>Social Media</h5>
       <div>
        <i class="fa-brands fa-facebook fs-4 pe-3 icon"></i>
        <i class="fa-brands fa-facebook fs-4 pe-3"></i>
        <i class="fa-brands fa-facebook fs-4 pe-3"></i>
        <i class="fa-brands fa-facebook fs-4 pe-3"></i>
       </div>
       </div>
    </div>
</div>