<!-- Header  -->

<app-navigation></app-navigation>

<!-- Websites Starts -->


<div class="container-fluid">
    <app-start></app-start>
    <!-- Best Quality -->

    <app-bestquality></app-bestquality>
    <!-- Technical  Support -->

    <app-techspport></app-techspport>
    <app-service-provide></app-service-provide>

    <!-- Service Provider -->
   <app-service-hostings></app-service-hostings>

    <!-- Server Price  -->

    <app-service-price></app-service-price>
    <!-- Customer care Services -->

    <app-customer-love></app-customer-love>

    <app-host-service></app-host-service>
    <app-footer></app-footer>
</div>