<div class="row bg-primary mt-5">
    <h2 class="text-center text-white mt-5 pt-5">Flexible & Transparent Pricing</h2>
    <div class="col-md-4">
        <div class="card ms-3 my-5" style="height: 600px; width: 400px;">
            <div class="card-body">
                <h3 class="card-title ms-4">Starter Pack</h3>
                <p class="card-text ms-4 mt-4">Suitable for buginners</p>
                <div class="ms-5 mt-5">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Up To 15,000 Visitors/Month
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Disk Space 500MB
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Bandwidth
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Database
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>1 Domain
                </div>
                <div class="mt-5">
                    <h4 class="text-center d-flex ms-5 ps-5">$29.99 <p class="fw-normal text-center">/month </p>
                    </h4>
                </div>
                <div>
                    <p class="text-center">Cancel Anytime</p>
                </div>
                <div class="text-center pb-5 mb-5 me-4">
                    <a class="btn btn-outline-primary register fs-6 px-5" href="#cta"> Choose Plan</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card ms-3 my-5" style="height: 600px; width: 400px;">
            <div class="card-body">
                <div class="hosting_pricing">
                    <h3 class="card-title ms-4">Popular Packages</h3>
                    <p class="card-text ms-4 mt-4">Suitable for company, organization</p>
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Up To 135,000 Visitors/Month
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Disk Space
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Bandwidth
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited POP3 Email
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Database
                </div>
                <div class="mt-5">
                    <h4 class="text-center d-flex ms-5 ps-5 ">$59.99 <p class="fw-normal text-center">/month
                        </p>
                    </h4>
                </div>
                <div class="">
                    <p class="text-center">Cancel Anytime</p>
                </div>
                <div class="mx-5 mb-3">
                    <button type="button" class="btn btn-outline-primary package ms-5 px-4">Choose Plan</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card ms-3 my-5" style="height: 600px; width: 400px;">
            <div class="card-body">
                <h3 class="card-title ms-4">Business Package</h3>
                <p class="card-text ms-4 mt-4">Suitable for business websites</p>
                <div class="ms-5 mt-5">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Up To 15,000 Visitors/Month
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Disk Space
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Bandwidth
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited POP3 Email
                </div>
                <div class="ms-5 mt-4">
                    <i class="fa-regular fa-circle-check pe-3 fs-5 icon"></i>Unlimited Database
                </div>
                <div class="mt-5">
                    <h4 class="text-center d-flex ms-5 ps-5">$99.99<p class="fw-normal text-center">/month </p>
                    </h4>
                </div>
                <div>
                    <p class="text-center">Cancel Anytime</p>
                </div>
                <div class="mb-5 pb-5 text-center">
                    <a class="btn btn-outline-primary fs-6 px-5" href="#cta"> Choose Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>

