<div class="row">
    <div class="col-md-6">
        <div class="pt-5 mt-3">
            <p class="hosting ms-5">Services We Provide <br> At Thor Hosting</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="pt-5 mt-5">
            <p>Contact Niagahoster's Customer Success Agentat anytime whenthere is a
                <br> problem withyour website. No needto wait lon, your problem will be
                <br> resolved quickly.
            </p>
        </div>
    </div>
</div>
