.register {
    font-size: 1.6rem;
    font-weight: 600;
    padding: .5rem .8rem;
    border: 1px solid #068ff1;
    margin-top: 3.2rem;
    color: #068ff1 !important;
    border-radius: 5px;
    flex-shrink: 1;
    transform: translate(7%, -20%);
}